/* ESTILO DE MENSAJES */
.contenedor{
    border-radius: 10px;
    padding: 5px;
    display: flex;
    justify-content: start;
}

.mensaje{
    padding:10px;
    border-radius: 10px;
    color:white;
    background-color: #202c33;
    border: 2px solid rgba(0, 0, 0, 0.596);
    box-shadow: 0 0 3px 1px #00000067;
}

.contenedorInferior{
    display: flex;
    justify-content: end;
    align-items: center;
    gap:5px;
}

.timeSince{
    font-size: 10px;
    color:#afafaf;
}